# IDE и системные файлы
.idea/
nbproject/
.buildpath
.project
.settings/
Thumbs.db
.DS_Store

# Composer
/vendor/
composer.phar
# Если не хотите фиксировать зависимости, раскомментируйте следующую строку
# composer.lock

# PHPUnit
phpunit.phar
/phpunit.xml

# Тестовые артефакты
/tests/_output/
/tests/_support/_generated/

# Vagrant
/.vagrant/

# Кэш и логи
/runtime/
/web/assets/
/web/css/*.map
*.log

# Docker
.env
.docker/
docker-compose.override.yml

# Файлы окружения
.env.*

# Другие временные файлы
*.swp
*.swo
*.bak
*.tmp